ARC_CHAIN_ID=0x4D024E2
ARC_CHAIN_NAME=Arc Testnet
VITE_ARC_CHAIN_ID=0x4D024E2
VITE_ARC_CHAIN_NAME=Arc Testnet
VITE_ARC_RPC_URL=https://rpc.testnet.arc.network
VITE_USDC_ADDRESS=0x3600000000000000000000000000000000000000
VITE_GAME_CONTRACT_ADDRESS=
VITE_OWNER_ADDRESS=
VITE_BACKEND_URL=http://localhost:3001
VITE_PORT=3000
